<div class="imageWrapper">
    <button type="button" id="exitPopUp" (click)="exitContainer($event)">X</button>

    <div *ngIf="isTall()" class="actualContentWide">
        <div class="image">
            <img src="{{ image?.url }}" alt="">
        </div>
        <div class="tags-wide">
            <ng-container *ngTemplateOutlet="tagsContent; context: { tags: tagsMap | keyvalue }"></ng-container>
        </div>
        <span class="date">Added on: {{ convertDate(image?.addedOn) }}</span>
    </div>

    <div *ngIf="isWide()" class="actualContentHigh">
        <div class="image">
            <img src="{{ image?.url }}" alt="">
        </div>
        <div class="info">
            <div class="tags-high">
                <ng-container *ngTemplateOutlet="tagsContent; context: { tags: tagsMap | keyvalue }"></ng-container>
            </div>
            <span class="date">Added on: <br> {{ convertDate(image?.addedOn) }}</span>
        </div>
    </div>
</div>

<ng-template #tagsContent let-tags="tags">
    <div *ngFor="let tg of tags">
        <ng-container *ngTemplateOutlet="tagItem; context: { tg: tg }"></ng-container>
    </div>
</ng-template>

<ng-template #tagItem let-tg="tg">
    <a title="Confidence: {{ tg?.value }}%" class="connectTag" id="first" routerLink="/gallery"
       (mouseover)="showPopOver(tg?.value)" (mouseout)="hidePopOver()"
       (click)="saveItemToStorage(tg?.key); exitContainer($event);">
        {{ tg?.key }}
    </a>
</ng-template>
