/* login.component.css and register.component.css */

.login-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px; /* Adjust width as needed */
    width: 100%;
    background-color: #F7F7F7;
    position: fixed;
    overflow: auto;
    padding: 20px;
    box-shadow: 1px 1px 6px -2px black;
    border-radius: 10px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #252222; /* Text color */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #010204cc; /* Button background color */
    cursor: pointer;
    box-shadow: 1px 1px 6px -2px black;
    margin-top: 10px;
}

.btn:disabled {
    background-color: #cccccc;
}

.btn-link {
    color: #010204cc; /* Link color */
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

/* Additional shared styles */
body {
    background: linear-gradient(90deg, rgba(71,66,159,1) 17%, rgba(92,129,236,1) 51%);
    font-family: 'Rubik', sans-serif; /* Font family */
    color: #252222; /* Text color */
}
